.main_nav {
  border: 1px solid #cccccc;
  border-width: 1px 0 0 0;

  & .main_nav-wrapper {
    @include page-padding;

    & .main_nav-list {
      margin: 0 0 20px;
      background-color: #f5f7f9;
      padding: 0 400px 0 0;
      display: flex;
      justify-content: space-between;

      & .main_nav--items {
        list-style: none;
        position: relative;

        & .main_nav--link {
          color: #737474;
          padding: 18px;
          display: block;
          box-sizing: border-box;
          text-decoration: none;
          font-size: 14px;
          transition: background-color 0.5s;

          &:hover {
            background-color: #d5e4f1;
          }

          &.nav-active {
            background-color: #83c8d1;
            color: #f0f3f3;
          }
        }
      }
    }
  }
}

.main_nav--items:hover .nav_drop {
  display: block;
}

.nav_drop {
  display: none;
  position: absolute;
  top: 53px;
  left: -40px;
  width: 214px;
  padding: 0;
  border: 1px solid #808080;
  background-color: #ffffff;
  border-radius: 3px;
  margin-left: 40px;
  z-index: 4;

  & .nav_drop-items {
    list-style: none;
    width: inherit;
    border: 1px solid #808080;

    &:hover {
      background-color: #f5f7f9;
    }

    & .nav_drop-link {
      display: block;
      color: #808080;
      padding: 15px 10px;
      text-decoration: none;
      font-size: 13px;
    }
  }
}

.burger{
//    width: inherit;
   height: 40px;
//    padding: 10px 0 0 85%;
   position: fixed;
   text-align: right;
   top: 5px;
   right: 5px;
   z-index: 9;
   display: none;
   cursor: pointer;
//    background-color: #555555;
   & div{
   width: 25px;
   height: 4px;
   margin: 4px;
   border-radius: 2px;
   background-color: black;
  }
}

 .toggler .burger1 {
    transform: rotate(45deg) translate(7px, 0);
  }

  .toggler .burger2 {
    opacity: 0;
  }
  .toggler .burger3 {
    transform: rotate(-45deg) translate(12px, -4px);
  }
